* {
  box-sizing: border-box;
}

.frame15 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 433px;
  height: 877px;
  row-gap: 9px;

  .fFff {
    flex-shrink: 0;
    line-height: 44px;
    letter-spacing: 0;
    color: var(--color4, #ffffff);
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 36px;
  }

  .lInk {
    flex-shrink: 0;
    width: 124px;
    height: 38px;
    letter-spacing: 0;
    color: #ffffff;
    font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
    font-size: 32px;
  }

  .frame6 {
    display: flex;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    justify-content: space-between;
    background: var(--color6, #565c62);
    padding: 11px 23px 14px 20px;
    min-width: 433px;
    height: 73px;

    .frame1 {
      display: inline-flex;
      flex-shrink: 0;
      align-items: center;
      column-gap: 7px;

      .meh {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        padding: 4px;
        overflow: hidden;

        .icon {
          border-radius: 50%;
          width: 40px;
          height: 40px;
        }
      }
    }

    .frame2 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      background: #a5e8d852;
      padding-right: 25px;
      padding-left: 25px;
      width: 114px;
      height: 38px;
    }
  }

  .frame9 {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    align-items: center;
    align-self: stretch;
    background: var(--color6, #565c62);
    padding: 11px 18px 11px 15px;
    height: 192px;

    .frame62 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
      margin-right: 5px;
      margin-left: 5px;
      min-width: 391px;

      .frame12 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 7px;

        .hardDrive {
          flex-shrink: 0;
          width: 48px;
          height: 48px;
          overflow: hidden;
        }
      }

      .frame22 {
        display: flex;
        flex-shrink: 0;
        align-items: center;
        justify-content: center;
        column-gap: 10px;
        background: #a5e8d852;
        padding-right: 25px;
        padding-left: 25px;
        width: 70px;
        height: 38px;
      }
    }

    .frame8 {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      align-self: stretch;
      column-gap: 5px;

      .disc {
        flex-shrink: 0;
        width: 120px;
        height: 120px;
        overflow: hidden;
      }

      .frame7 {
        display: inline-flex;
        flex-shrink: 0;
        align-items: center;
        column-gap: 7px;

        .frame3 {
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          align-items: flex-start;
          background: var(--State-Layers-On-Secondary-Opacity-16, #ffffff29);
          padding: 5px 15px;
          height: 55px;
          row-gap: 6px;

          .text {
            display: flex;
            flex-shrink: 0;
            align-items: center;
            justify-content: center;
            width: 57px;
            height: 20px;
            letter-spacing: 0;
            color: #ffffff;
            font-family: Inter, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", SimHei, Arial, Helvetica, sans-serif;
            font-size: 16px;
          }
        }
      }
    }
  }
}
