tkinter/data/d2l-zh.zip
pyqt6/chat/output/Chat.exe
output
UWBLogs
**/nuitka_cache/
**/__pycache__/
**/output/
*.pyc
**/__pycache__
**/*.dist
**/*.rar
**/*.build

# 忽略编译生成的文件
UWB_Tools/build_tool/main.dist/
UWB_Tools/flash_tools/nuitka_cache/downloads/

# 忽略可执行文件
*.exe
*.zip